@{
    ViewBag.Title = "About Cameron";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a senior at Ohio University studying Management Information Systems in the College of Business. I am from Cleveland, Ohio and graduated from Beachwood High School. I enjoy being with friends and family, listening to music, playing video games and sports. I am looking forward to a career in business where I can make improvemnts through technology</p>
