@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This website is Cameron Krantz's portfolio for MIS 4200.</p>
    <p><a href="https://www.linkedin.com/in/cameronkrantz/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chipotle</h2>
        <p>
            I enjoy eating Chipotle because it is a convenient option for very good food. I usually get a chicken tortilla bowl with rice, fajitas, sour cream, lettuce, cheese, and corn salsa.

        </p>
        <p><a class="btn btn-default" href="https://www.chipotle.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kyrie Irving</h2>
        <p>Kyrie is my favorite basketball player because he is so entertainng to watch. He has the best handles of all time and is a very unique player..</p>
        <p><a class="btn btn-default" href="https://www.espn.com/nba/player/_/id/6442/kyrie-irving">Learn more &raquo;</a></p>
        <br>@Html.ActionLink("Doctors", "Index", "Doctors") <br />
        <br>@Html.ActionLink("Patients", "Index", "Patients")<br />
        <br>@Html.ActionLink("PatientDetails", "Index", "PatientDetails")<br />
        <br>@Html.ActionLink("Operations", "Index", "Operations")<br />


    </div>
    <div class="col-md-4">
        <h2>Apple</h2>
        <p>I enjoy using Apple products because they are very user friendly and they have good security. I have never had an Apple computer get a virus in all my years of owning them.</p>
        <p><a class="btn btn-default" href="https://www.apple.com">Learn more &raquo;</a></p>
    </div>
</div>